span{
    justify-content: center;
    background-color: #6c757d;
    border: none;
}

.input-group-text{
    width: 100%;
    padding: .375rem .25rem;
    border-right: none;
    border-left: 1px solid #ffc107;
    border-bottom: 1px solid #ffc107;
    border-top: 1px solid #ffc107;
}

.text-dark{
    border-color: #9da7af !important;
}

.valid-icon{
    border-color: #00ff00;
}

.field-title{
    background-color: transparent;
    white-space: initial;
}

.invalid-icon{
    border-color: #ff0000;
}