span{
    justify-content: center;
    border: none;
    background-color: #6c757d;
}

.input-group-text{
    width: 100%;
    padding: .375rem .25rem;
}

.valid-icon{
    box-shadow: 0px 0px 8px rgba(0, 150, 0, 0.5)!important;
    border-color: rgba(36, 255, 36, 0.06);
}

.field-title{
    background-color: transparent;
}

.invalid-icon{
    box-shadow: 0px 0px 8px rgba(255, 9, 5, 0.61)!important;
    background-color: rgba(255, 0, 15, 0.78);
    border-color: rgba(255, 0, 15, 0.51);
}

.icon-border{
    padding-right: 5px;
    border-right: 1px solid;
    margin-right: 5px;
}