<div class="container">
  <div class="login-form">
    <div class="main-div">
      <h6 class="display-4 text-warning">DREAM BUDGET</h6>
      <h6 class="display-6 text-warning">SIGN IN</h6>
      <form [formGroup]="form">
        <app-email
                [form]="form"
                [config]="false"
        ></app-email>
        <app-password
                [form]="form"
                [passwordConfirm]="true"
                [config]="false"
                (equals)="setEqual($event)"
        ></app-password>
        <input
                type=submit
                class="btn"
                [ngClass]="{'btn-primary' : form.valid && equalPasswords, 'btn-secondary' : !form.valid || !equalPasswords}"
                (click)="signIn()"
                routerLink="/main"
                value="Sign In"
                [disabled]="!form.valid || !equalPasswords"/>
      </form>
    </div>
  </div>
</div>