<div class="container">
  <div class="login-form">
    <div class="main-div">
      <h1 class="display-3">AGILE BUDGET</h1>
      <h1 class="display-6">SIGN IN</h1>
      <form [formGroup]="form">
        <app-email [form]="form"></app-email>
        <app-password [form]="form" [passwordConfirm]="true" (equals)="setEqual($event)"></app-password>
        <input
                type=submit
                class="btn"
                [ngClass]="{'btn-primary' : form.valid && equalPasswords, 'btn-secondary' : !form.valid || !equalPasswords}"
                (click)="signIn()"
                value="Sign In"
                [disabled]="!form.valid && equalPasswords"/>
      </form>
    </div>
  </div>
</div>