.grid-container{
    text-align: center;
}

.table{

}

.dragging{
    border: 1px transparent;
    box-shadow: 0px 0px 9px rgb(255, 251, 103);
    border-radius: 5px;
    background-color: #fae73e !important;
}

.grid-row{
    cursor: pointer;
}

.moveable:not(.dragging){
    transition: transform 300ms ease-in-out;
}