<div class="grid-container">
    <app-grid-summary></app-grid-summary>
    <table class="table table-hover bg-warning text-dark">
        <thead>
            <tr
                app-grid-header
                [config]="drawColumns"
            ></tr>
        </thead>
        <tbody>
            <tr
                class="grid-row"
                app-grid-item
                *ngFor="let item of data"
                [item]="item"
                [config]="config"
                (click)="openModal(item.id)"
            ></tr>
        </tbody>
    </table>
    <app-grid-paginator></app-grid-paginator>
</div>
