<div class="container">
  <div class="login-form">
    <div class="main-div">
      <h1 class="display-3">AGILE BUDGET</h1>
      <form [formGroup]="form">
        <app-email [form]="form"></app-email>
        <app-password [form]="form"></app-password>
        <input
                type=submit
                class="btn"
                [ngClass]="{'btn-primary' : form.valid, 'btn-secondary' : !form.valid}"
                (click)="login()"
                value="Login"
                [disabled]="!form.valid"/>
      </form>
    </div>
  </div>
</div>