<div class="container">
  <div class="login-form">
    <div class="main-div">
      <h6 class="display-4 text-warning">DREAM BUDGET</h6>
      <form [formGroup]="form">
        <app-email [form]="form"></app-email>
        <app-password [form]="form"></app-password>
        <input
                type=submit
                routerLink="/main"
                class="btn"
                [ngClass]="{'btn-primary' : form.valid, 'btn-secondary' : !form.valid}"
                (click)="login()"
                value="Login"
                [disabled]="!form.valid"/>
      </form>
      <button class="btn btn-primary" routerLink="/register">Sign In</button>
    </div>
  </div>
</div>