<div [formGroup]="group" class="form-group input-group mb-3">
    <div
            class="input-group-prepend"
            app-field-prepend
            [config]="config"
            [field]="field"
    ></div>
    <input
            type="text"
            class="form-control"
            placeholder="{{ config.title === undefined ? config.key : config.title }}"
            aria-label="Text"
            aria-describedby="icon"
            formControlName="field"
            [ngClass]="{'valid': noErrors(), 'invalid' : hasErrors()}"
    >
</div>
