.list-group-item{
    cursor: default;
    padding: 0rem;
}

.list-group-item:hover{
    transform: scale(1.01);
    transition: 0.3s;
    box-shadow: 0px 0px 4px rgb(149, 145, 64);
    border-radius: 5px;
}

td{
    padding: 0.2rem;
    vertical-align: middle;
}
td.name{
    width: 267px;
}

td.price{
    width: 130px;
}

.table{
    width: 347px;
    margin-bottom: 0rem;
}

.buttons{
    width: 50px;
}

i:hover{
    background-color: #4c4c4c;
}

i{
    padding: 6px;
    background-color: #1a1a1a;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
}
