<div [formGroup]="emailGroup" class="form-group input-group mb-3">

    <div class="input-group-prepend">
      <span
              class="input-group-text"
              id="iconEmail"
              [ngClass]="{'valid-icon': noErrors(), 'invalid-icon' : hasErrors()}"
              title="Email"
      >
        <i class="fa fa-at"></i>
      </span>
    </div>
    <input
            type="text"
            class="form-control"
            placeholder="Email"
            aria-label="Email"
            aria-describedby="iconEmail"
            formControlName="email"
            [ngClass]="{'valid': noErrors(), 'invalid' : hasErrors()}"
    >
</div>
<ul *ngIf="hasErrors()" class="list-unstyled text-left">
  <li
          [ngStyle]="{'color' : valid('required') ? 'green' : 'red'}"
  ><i
          class="fa"
          [ngClass]="{'fa-times' : !valid('required'), 'fa-check' : valid('required')}"
  ></i> Email must be not empty!</li>
  <li
          [ngStyle]="{'color' : valid('pattern') ? 'green' : 'red'}"
  ><i
          class="fa"
          [ngClass]="{'fa-times' : !valid('pattern'), 'fa-check' : valid('pattern')}"
  ></i> Email must be something like: xx@xx.xx!</li>
</ul>