.valid{
    border-color: #00ff00 !important;
    //box-shadow: 0px 0px 6px rgb(0, 255, 0) !important;
}

.invalid{
    border-color: #ff0000 !important;
    //box-shadow: 0px 0px 6px rgb(255, 10, 0) !important;
}

.form-control{
    background-color: #343a40;
    box-shadow: none;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    color: white;
    border-left: none;
    border-right: 1px solid #ffc107;
    border-bottom: 1px solid #ffc107;
    border-top: 1px solid #ffc107;
    height: auto;
}

.form-control:focus{
    background-color: #282f35 !important;
}

.form-control:disabled{
    background-color: #4d555c !important;
    border-color: #6c757d !important;
}

.confirm {
    margin-bottom: 3px!important;
}

.input-group-prepend{
    width: 40px;
    margin-right: 0px;
}

span{
    border: none;
    background-color: #6c757d;
}