.valid{
    box-shadow: 0px 0px 8px rgba(0, 150, 0, 0.87) !important;
    background-color: rgba(40, 167, 36, 0.7);
    border-color: rgba(36, 255, 36, 0.52);
}

.invalid{
    box-shadow: 0px 0px 8px rgba(255, 9, 5, 0.82) !important;
    background-color: rgba(255, 0, 15, 0.54);
    border-color: rgba(255, 0, 15, 0.76);
}

.form-control{
    background-color: transparent;
    box-shadow: none;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    color: white;
}

.confirm {
    margin-bottom: 3px!important;
}

.input-group-prepend{
    width: 175px;
}

span{
    border: none;
    background-color: #6c757d;
}