<div [formGroup]="passwordGroup"  class="form-group input-group mb-3">
  <div class="input-group-prepend">
      <span
              class="input-group-text"
              id="passwordIcon"
              [ngClass]="{'valid-icon': noErrors(), 'invalid-icon' : hasErrors()}"
              title="Password"
      >
        <i class="fa fa-key"></i>
      </span>
  </div>
  <input
          aria-label="Password"
          aria-describedby="passwordIcon"
          type="password"
          class="form-control"
          placeholder="Password"
          formControlName="password"
          [ngClass]="{'valid': noErrors(), 'invalid' : hasErrors()}"
  >
</div>
<ul *ngIf="hasErrors()" class="list-unstyled text-left">
  <li
          [ngStyle]="{'color' : valid('required') ? 'green' : 'red'}"
  ><i
          class="fa"
          [ngClass]="{'fa-times' : !valid('required'), 'fa-check' : valid('required')}"
  ></i> Password must be not empty!</li>
  <li
          [ngStyle]="{'color' : valid('minlength') ? 'green' : 'red'}"
  ><i
          class="fa"
          [ngClass]="{'fa-times' : !valid('minlength'), 'fa-check' : valid('minlength')}"
  ></i> Password must be at least 6 characters long!</li>
</ul>