<div [formGroup]="passwordGroup" >
    <div class="form-group input-group mb-3" [ngClass]="{confirm : needConfirm}">
      <div class="input-group-prepend">
          <span
                  class="input-group-text text-warning"
                  id="passwordIcon"
                  [ngClass]="{'valid-icon': noErrors(), 'invalid-icon' : hasErrors()}"
                  title="Password"
          >
            <i class="fa fa-key"></i>
          </span>
      </div>
      <input
              aria-label="Password"
              aria-describedby="passwordIcon"
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
              [ngClass]="{'valid': noErrors(), 'invalid' : hasErrors()}"
              (keyup)="emitEqual()"
      >
    </div>
    <ul *ngIf="hasErrors()" class="list-unstyled text-left">
        <li
                [ngStyle]="{'color' : valid('required') ? 'green' : 'red'}"
        ><i
                class="fa"
                [ngClass]="{'fa-times' : !valid('required'), 'fa-check' : valid('required')}"
        ></i> Password must be not empty!</li>
        <li
                [ngStyle]="{'color' : valid('minlength') ? 'green' : 'red'}"
        ><i
                class="fa"
                [ngClass]="{'fa-times' : !valid('minlength'), 'fa-check' : valid('minlength')}"
        ></i> Password must be at least 8 characters long!</li>
    </ul>


    <div *ngIf="needConfirm" class="form-group input-group mb-3">
        <div class="input-group-prepend">
          <span
                  class="input-group-text text-warning"
                  id="passwordConfirmIcon"
                  [ngClass]="{'valid-icon': confirmEquals(), 'invalid-icon' : confirmNotEquals()}"
                  title="Password Confirm"
          >
            <i class="fa fa-key"></i>
          </span>
        </div>
        <input
                aria-label="passwordConfirm"
                aria-describedby="passwordConfirmIcon"
                type="password"
                class="form-control"
                placeholder="Confirm Password"
                formControlName="passwordConfirm"
                [ngClass]="{'valid': confirmEquals(), 'invalid' : confirmNotEquals()}"
                (keyup)="emitEqual()"
        >
    </div>
    <ul *ngIf="confirmNotEquals()" class="list-unstyled text-left">
        <li
                [ngStyle]="{'color' : confirmEquals() ? 'green' : 'red'}"
        ><i
                class="fa"
                [ngClass]="{'fa-times' : confirmNotEquals(), 'fa-check' : confirmEquals()}"
        ></i> Password and Confirm Password must be equal!</li>
    </ul>
</div>